<ul class="device-list">
    {{#each settings}}
        <li class="device-name">
            <label>{{@key}}</label>
            <input placeholder="{{@key}}" style="margin: 0;" type="text" class="form-control editable-input device-name"
                   value="{{this}}" style="display:block;"/>
        </li>
    {{/each}}
</ul>
