<table>
    <tbody>
    <% _.each( contacts, function( contact ){ %>
        <tr>
            <td><input type="checkbox" class="fa ck" id="<%- contact.id %>" <%- contact.checked ? 'checked' : '' %>/></td>
            <td><label for="<%- contact.id %>"><%- contact.name %></label></td>
            <td><label for="<%- contact.id %>"><%- contact.email %></label></td>
        </tr>
    <% }); %>
    </tbody>
</table>
