<p>
    When <span class="help-color rules-device-name" style="margin:0;padding:0;vertical-align: top;"><%- device.name %></span>
    is <span class="header-color rules-device-status"><%- device.status %></span>, <span class="btn btn-primary readonly-action" data-plugin-id="Call"><i class="fa fa-bolt"></i> Contact Primary Responders</span>.
    <br/><br/>
    If the calls are completed and no disarm code was entered, then <span class="btn btn-primary action readonly-action" data-plugin-id="Call"><i class="fa fa-bolt"></i> Put System in Panic Mode</span> and <span class="btn btn-primary action readonly-action" data-plugin-id="Call"><i class="fa fa-bolt"></i> Contact Secondary Responders</span>.
    <br/><br/>
    If disarm code is still not entered, then <span class="btn btn-primary action readonly-action" data-plugin-id="Call"><i class="fa fa-bolt"></i> Contact Call Center </span>.

    <br/>
    <br/>
    <input type="checkbox" id="armed-checkbox" class="armed-system-state fa ck" checked disabled/>
    <label for="armed-checkbox" class="only-when-armed" >&nbsp;&nbsp;Do this only when Security System is Armed</label>
</p>
